html {
    margin: 0;
    padding: 0;
    background-color: #a61b2d;
    
}
#main {
    background-color: #ffffff;
    margin-left: 50%;
    margin-right: auto;
    width: 90%;
    margin-top: 2.5%;
    margin-bottom: auto;
    /*margin: 2.5% auto auto 5%;*/
    /*margin-left: 30px;*/
    padding: 20px 20px 20px 20px;
}
#mainBody {
    position: relative;
    background-color: #e9eef0;
    width: 80%;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    height: 80%
} 

#mainBody > h3 {
    color: #a61b2d;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 90%;
}
table td {
    border: 2px solid black;    
    width: 25%;
}
form {
    padding-top: 10px;
    padding-bottom:0; 
}

input {
    width:40%;
}
.buttons {

    bottom: 30px;
    background-color: #a61b2d;
    border: none;
    color: #e9eef0;
    width: 80px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #900;
    text-align:center;
    vertical-align: middle;
    height: 30px;
    
}
#buttonGroup {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
