/*html {*/
/*    margin: 0;*/
/*    padding: 0;*/

/*}*/

#header, #footer {
    height: 30px;
    background-color: #a61b2d;
    box-shadow: inset 0px 0px 10px #000;
}
body {
    background-color: #a61b2d;
}
#main {
    padding: 20px 20px 20px 20px;
    /*padding-left: 20px;*/
    /*padding-top: 20px*/
    width: 90%;
    position: relative;
    /*background-color:white;*/
}

#wrapper {
    background-color:white;
    /*position:relative;*/
/*    width: 90%;*/
    /*margin: 0 auto 0 5%;*/
    /*height:100vh;*/
    margin-left: 5%;
    margin-right:5%;
}

#mainBody {
    width:80%;
    position: relative;
    background-color: #e9eef0;
    padding: 20px 20px 20px 20px;
} 

#mainBody > h3 {
    color: #a61b2d;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
    bottom: 5%;
    /*float: left;*/
    display:block;
    
}
table td {
    border: 2px solid black;    
    width: 25%;
    height: 30px;
}
form {
    padding-bottom: 5em; 
}

input {
    width: 40%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.buttons {

    bottom: 30px;
    background-color: #a61b2d;
    border: none;
    color: #e9eef0;
    width: 80px;
    border-radius: 3px;
    border: 1px solid #900;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    
}
#buttonGroup {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px 10px 10px 10px;
}

p {
    margin: 0;
}


